@media (max-width: 950px) {
  .blue-shadow3 {
    position: absolute;
    top: 20% !important;
    left: 0;
    width: 60% !important;
  }
  .blue-shadow2 {
    position: absolute;
    bottom: 0%;
    right: 0% !important;
    width: 70% !important;
    height: 100%;
  }
}
